body{
    background-image: url("bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
}

h1{
    margin-left: 5%;
    font-weight: bolder;
    font-family: cursive;
    font-size: xxx-large;
    margin-top: 0%;
    color: lightyellow;
}

#box{
    height: 400px;
    width: 600px;
    border: solid black 4px;
    margin-top: 2%;
    margin-left: 2%;
    overflow: hidden;
    position: relative;
    display: flex;
}

#box div{
    display: flex;
    flex-direction: column;
}

#box div div{
    height: 40px;
    width: 30px;
    margin: 0%;
}

#start{
    background-color: transparent;
    font-size: x-large;
    font-weight: bold;
    border: solid lightyellow 3px;
    height: 50px;
    width: 108px;
    margin-left: 9%;
    margin-top: 2%;
    border-radius: 25px;
    color: lightyellow;
    cursor: pointer;
}

#score{
    font-size: x-large;
    font-weight: bold;
    color: lightyellow;
    position: absolute;
    top: 12%;
    left: 2%;
}




